<h2 mat-dialog-title>Add New Employee</h2>
<mat-dialog-content>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <!-- File Upload Field -->
    <div class="file-upload-container">
      <label for="imageUpload">Upload Image</label>
      <input
        id="imageUpload"
        type="file"
        (change)="onFileSelected($event)"
        formControlName="imageUrl"
        accept="image/*"
      />
    </div>
    <div *ngIf="employeeForm.get('imageUrl')?.value">
      <img
        [src]="employeeForm.get('imageUrl')?.value"
        alt="Employee Image"
        class="image-preview"
      />
    </div>

    <!-- First Name -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <!-- Last Name -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <!-- Email -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *ngIf="employeeForm.get('email')?.hasError('email')">
        Invalid email
      </mat-error>
    </mat-form-field>

    <!-- Salary -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Salary</mat-label>
      <input matInput formControlName="salary" />
    </mat-form-field>

    <!-- Date of Birth -->
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input
        matInput
        [formControlName]="'dob'"
        [matDatepicker]="picker"
        placeholder="Date of Birth"
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <!-- Contact Number -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Contact Number</mat-label>
      <input matInput formControlName="contactNumber" />
      <mat-error *ngIf="employeeForm.get('contactNumber')?.hasError('pattern')">
        Invalid Contact Number
      </mat-error>
    </mat-form-field>

    <!-- Address -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>

    <!-- Actions -->
    <mat-dialog-actions>
      <button mat-button type="button" (click)="onCancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
